<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cui.mapper.recommend.RecommendMapper">
    <resultMap id="RecommendMap" type="Recommend">
        <id property="id" column="id"/>
        <result property="userId" column="user_id" />
        <result property="probability" column="probability" />
        <result property="taskBatch" column="TASK_BATCH" />
        <result property="createDate" column="CREATE_DATE" />
    </resultMap>

    <insert id="insert" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
        `tt_fund_data`
        (`id`,`user_id`,`probability`,`TASK_BATCH`,`CREATE_DATE`)
        VALUES
        (#{id},#{userId},#{probability},#{taskBatch},#{createDate})
    </insert>


    <delete id="delete">
        DELETE FROM 'user' WHERE id = #{id}
    </delete>


</mapper>



