<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cui.mapper.UserMapper">
    <resultMap id="UserMap" type="User">
        <id property="loginId" column="login_id"/>
        <result property="pwd" column="pwd" />
        <result property="name" column="name" />
        <result property="age" column="age" />
        <result property="duty" column="duty" />
        <result property="cellNumber" column="cell_number" />
        <result property="photoUrl" column="photo_url"/>
        <result property="used" column="used"/>
    </resultMap>

    <insert id="insert" parameterType="User" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO
    `user`
    (`login_id`,`name`,`age`,`sex`,`duty`,`cell_number`,`photo_url`,`pwd`,`used`)
    VALUES
    (#{loginId},#{name},#{age},#{sex},#{duty},#{cellNumber},#{photoUrl},#{pwd},#{used})
    </insert>

    <select id="queryById" resultMap="UserMap">
    SELECT
    *
    FROM
    `user`
    WHERE
    login_id = #{loginId}
    </select>

    <delete id="delete">
        DELETE FROM 'user' WHERE login_id = #{loginId}
    </delete>

    <update id="uodate">
        UPDATE
        `user`
        SET
        `used`=FALSE
        WHERE
        `login_id`=#{loginId};
    </update>

</mapper>



